img.thumbnail {
    max-height: 80px;
    width: auto;
    border: 1px solid gray;
    padding: 2px;
}
div.ag-cell-value[col-id="title"] {
    line-height: 15px;
}
span.ag-cell-value {
    padding: 10px;
}
.ag-theme-balham .ag-cell, .ag-theme-balham .ag-full-width-row .ag-cell-wrapper.ag-row-group {
    line-height: unset;
}
.more-details-link {
    display: inline;
}
.more-details {
    display: none;
}
div#item-count {
    display: inline;
}
span.select2 {
    width: 200px !important;
}